.profile-section {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.profile-photo-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.profile-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.5) 75%, transparent 100%);
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.5) 75%, transparent 100%);
}

.profile-photo-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 150px 75px rgba(0, 0, 0, 0.9);
}
